{
    email {$ACME_EMAIL}
}
{$SITE_DOMAIN} {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000"
    @api path /api /api/*
    handle @api {
        reverse_proxy api:4000
    }
    handle {
        reverse_proxy web:8080
    }
}
